@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,400&display=swap');
*, *:before, *:after{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    font-size: 16px;
    position: absolute; /* Абсолютное позиционирование */
    width: 300px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
   }
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2.5em; /* Положение подсказки */
    z-index: 1000;
   }

a{
  text-decoration: none;
}

html{
	height: 100%;
}

body{
	height: 100%;
}

.wrapper_my{
	min-height: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
}

.logo{
	display: flex;
	justify-content: center;
	height: 80px;
	width:100%;
}

.logo .logo__body{
    width: 900px;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.logo__body .logo__menu{
    width: 33%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


.logo__item, .logo__item__cart{
  color: #000;
  padding: 5px;
}
.logo__item:hover{
  border-bottom: 1px solid black;
}

.logo__title{
	font-size: 50px;
	color: #ff5e2c;
	font-family: "Pacifico";
  text-align: center;
}

/* .container{
	width: 100%;
	display: flex;
	flex: 1 1 auto;
	margin-top: 20px;
} */

.main{
  margin: 0 auto;
  width: 900px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
